.App {
    background-color: red;
}

button {
    width: 100%;
    height: 100px;
    background-color: aquamarine;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5em;
    padding: 2em;
}

.section {
    overflow: hidden;
    transition: max-height 1s ease-out;
    height: auto;
    max-height: 600px;
    width: 100%;
}

.section.collapsed {

    max-height: 0; 
    transition: max-height 1s ease-out;
    
}